.imopenlines-page-placeholder .bx-imopenlines-messenger-textarea-clear { display: block; }

.footer-logo {display:none;}
.bx-imopenlines-config-sidebar { z-index: 1!important; }
.livechat-footer-logo-block {
	padding: 4px 3px 0 11px; background-color: #fff;
	border-radius: 4px;
	position: absolute;
    right: 0;
    margin-top: 26px;
}

.livechat-footer-logo-text {
	display: inline-block;
	padding: 7px 0 0 0;
	font: bold 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #417384;
	vertical-align: top;
}

.livechat-footer-logo-img {
	display: inline-block;
	width: 110px;
    height: 29px;
	background: url(images/logob24-en.png);
	background-size: cover;
}

.livechat-footer-logo-img.en {
	margin-left: -20px;
}

.livechat-footer-logo-img.ru {
	background: url(images/logob24-ru.png);
	background-size: cover;
	margin-left: -7px;
}

.livechat-footer-logo-img.ua {
	background: url(images/logob24-ua.png);
	background-size: cover;
	margin-left: -14px;
}

.connector-icon {
	margin: 0 2px;
}