

/* Start:/bitrix/components/bitrix/learning.course/templates/.default/style.css?1544127428309*/
table.learn-work-table
{
	width:100%;
	border-collapse:collapse;
}

table.learn-work-table td.learn-left-data
{
	vertical-align:top;
	width:265px;
	padding:12px 8px;
}

table.learn-work-table td.learn-right-data
{
	vertical-align:top;
	padding:12px 16px;
	height: 100%;
}

.learn-course-tree
{
	width:265px;
}
/* End */


/* Start:/bitrix/components/bitrix/learning.course.tree/templates/.default/style.css?15441274281139*/
div.learn-course-tree
{
	font-size:100%;
}

div.learn-course-tree ul
{
	list-style-type: none;
	margin: 0; 
	padding: 0 1em 0 0;
}

div.learn-course-tree ul ul
{
	width: auto;
	margin:-0.75em 0 0 0;
	padding: 0 0 0 0.75em;
}

div.learn-course-tree li
{
	margin: 0 0 -0.85em 0;
	padding:0;
}

div.learn-course-tree li li
{
	margin: 0 0 -0.85em 0.5em; 
	padding:0;
}

div.learn-course-tree li.close ul
{
	display: none;
}

div.learn-course-tree div.item-text
{
	position:relative;
	top:-19px;left:19px;
}

/* Links*/
div.item-text a 
{
	color:#000;
	text-decoration:none;
}
div.item-text a.selected 
{
	background-color:#C7CEDA;
}

/*Icons*/
div.chapter, div.lesson, div.test-list, div.course-detail
{
	background-repeat:no-repeat;
	width:17px;
	height:17px;
	vertical-align:top;
}
div.chapter{cursor:pointer; cursor: hand;background-image:url(/bitrix/components/bitrix/learning.course.tree/templates/.default/images/chapter_open.gif);}
div.learn-course-tree li.close div.chapter{background-image:url(/bitrix/components/bitrix/learning.course.tree/templates/.default/images/chapter_close.gif);}
div.lesson{background-image:url(/bitrix/components/bitrix/learning.course.tree/templates/.default/images/lesson.gif);}
div.course-detail{background-image:url(/bitrix/components/bitrix/learning.course.tree/templates/.default/images/course_detail.gif);}
div.test-list{background-image:url(/bitrix/components/bitrix/learning.course.tree/templates/.default/images/test_list.gif);}
/* End */


/* Start:/bitrix/components/bitrix/learning.chapter.detail/templates/.default/style.css?1544127428275*/
div.learn-chapter-contents ul
{
	margin:5px 20px;
}

div.learn-self-test-icon
{
	width:21px;
	height:16px;
	background-image:url(/bitrix/components/bitrix/learning.chapter.detail/templates/.default/images/selftest.gif);
	background-repeat:no-repeat;
}

.float-left
{
	float:left;
}

.float-right
{
	float:right;
}

.float-clear
{
	clear:both;
}
/* End */


/* Start:/bitrix/components/bitrix/learning.course.tree/templates/navigation/style.css?1544127428415*/
div.learn-course-start
{
	width:17px;
	height:17px;
	float:left;
	background-repeat:no-repeat;
	background-image:url(/bitrix/components/bitrix/learning.course.tree/templates/navigation/images/arrow.gif);
}

div.learn-course-back, div.learn-course-next
{
	width:7px;
	height:10px;
	background-repeat:no-repeat;
}

div.learn-course-back
{
	float:left;
	background-image:url(/bitrix/components/bitrix/learning.course.tree/templates/navigation/images/arr_left.gif);
}
div.learn-course-next
{
	display:inline;
	background-image:url(/bitrix/components/bitrix/learning.course.tree/templates/navigation/images/arr_right.gif);
}
/* End */
/* /bitrix/components/bitrix/learning.course/templates/.default/style.css?1544127428309 */
/* /bitrix/components/bitrix/learning.course.tree/templates/.default/style.css?15441274281139 */
/* /bitrix/components/bitrix/learning.chapter.detail/templates/.default/style.css?1544127428275 */
/* /bitrix/components/bitrix/learning.course.tree/templates/navigation/style.css?1544127428415 */
